/desktop.ini
/venv
/venv_gpu
/database
/datasets
/.gitmodules
/.idea
/GroundingDINO
/datasetsHungingFace
/requirements
yolov8n.pt
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
telegram_config.json
*.log
