# OS Files
/desktop.ini
.DS_Store
Thumbs.db

# Python
/venv
/venv_gpu
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Project Data
/database
/datasets
/datasetsHungingFace
/requirements
yolov8n.pt

# IDE
/.idea
/.vscode
*.swp
*.swo

# Git
/.gitmodules

# Models (optional)
/GroundingDINO

# Configuration (sensitive)
telegram_config.json

# Docker
.dockerignore
